/* This ensures there are no margins added by default */
html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

:root {
    --white-dark: hsl(0, 0%, 95%);
    --blue-hsl: rgba(0, 119, 181, 0.8);
    --blue: rgba(0, 119, 181, 0.8);
}

/* Variants of the SourceSansPro font to be used in font-family style */
@font-face {
    font-family: 'Source-L';
    src: url('./fonts/SourceSansPro-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Source-R';
    src: url('./fonts/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Source-B';
    src: url('./fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lobster';
    src: url('./fonts/Lobster-Regular.ttf') format('truetype');
}

a {
    text-decoration: none;
}

.heading-primary {
    color: white;
    font-family: 'Source-B';
    font-size: 5rem;
    text-transform: uppercase;
}

.heading-secondary {
    color: black;
    font-family: 'Source-B';
    font-size: 3.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid var(--blue);
}

.heading-section {
    color: black;
    font-family: 'Source-B';
    font-size: 2rem;
}

.text-primary {
    color: white;
    font-family: 'Source-R';
    font-size: 2rem;
}

.paragraph-primary {
    color: black;
    font-family: 'Source-R';
    font-size: 1.2rem;
}

.section-padding {
    padding: 5rem 0;
}

/* Navbar */

.navbar-container {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
}

.navbar-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9rem;
}

.navbar-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source-B';
    font-size: 1.2rem;
}

/* Add margin to all children of the navbar-links-container div */
.navbar-links-container > * {
    padding: 0 2rem;
}

.navbar-link {
    color: black;
    text-transform: uppercase;
}

.navbar-link:hover {
    cursor: pointer;
}

.navbar-link-color-animation {
    transition: color 0.25s;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -o-transition: color 0.25s;
    -ms-transition: color 0.25s;
}

.navbar-link-color-animation:hover {
    color: var(--blue);
}

#navbar-logo {
    font-size: 3rem;
    padding: 0 0.5rem;
    font-family: 'Lobster';
    font-weight: 800;
    color: black;
    background: linear-gradient(
        to right,
        var(--blue),
        var(--blue) 50%,
        black 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.35s ease;
}

#navbar-logo:hover {
    background-position: 0 100%;
    cursor: pointer;
}

.navbar-icon-and-name-container {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.robert-sunglasses-icon {
    height: 3rem;
    border-radius: 50%;
}

/* Home */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background: linear-gradient(
            to right,
            rgba(0, 119, 181, 0.8),
            rgba(0, 119, 181, 0.8)
        ),
        url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
    background-image: linear-gradient(
            to right,
            rgba(0, 119, 181, 0.8),
            rgba(0, 119, 181, 0.8)
        ),
        url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
    background-position-x: center;
    background-position-y: center;
    background-size: initial, initial;
    background-attachment: initial, initial;
    background-origin: initial, initial;
    background-clip: initial, initial;
    background-color: initial;
}

.home-text-container {
    text-align: center;
}

.home-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.home-icons-container > * {
    color: white;
    margin: 0 2rem;
}

.home-icons {
    transform: scale(2.5);
}

.home-icons:hover {
    cursor: pointer;
}

/* About */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    max-height: 120vh;
}

.about-content-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 0.7fr 0.7fr;
    grid-gap: 10rem;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    font-family: 'Source-R';
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    color: #666;
}

/* Projects */
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    max-height: 120vh;
    background-color: var(--white-dark);
}

/* Contact */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    max-height: 120vh;
}

/* Footer */
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-hsl);
    min-height: 30vh;
    max-height: 50vh;
}

/* Media Query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .photo-card-container {
        display: block;
    }
    .about-content-container {
        display: block;
        justify-content: center;
    }
    .photo-card {
        width: 90vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
