/* This ensures there are no margins added by default */
html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

:root {
    --white-dark: hsl(0, 0%, 95%);
    --blue: rgba(0, 119, 181, 0.8);
}

/* Variants of the SourceSansPro font to be used in font-family style */
@font-face {
    font-family: 'Source-L';
    src: url('./fonts/SourceSansPro-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Source-R';
    src: url('./fonts/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Source-B';
    src: url('./fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lobster';
    src: url('./fonts/Lobster-Regular.ttf') format('truetype');
}

a {
    text-decoration: none;
}

textarea {
  resize: none;
}

.heading-primary {
    color: white;
    font-family: 'Source-B';
    font-size: 5rem;
    text-transform: uppercase;
}

.heading-secondary {
    color: black;
    font-family: 'Source-B';
    font-size: 3.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid var(--blue);
}

.heading-project {
    color: black;
    font-family: 'Source-B';
    font-size: 2.5rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.heading-section {
    color: black;
    font-family: 'Source-B';
    font-size: 2rem;
}

.text-primary {
    color: white;
    font-family: 'Source-R';
    font-size: 2rem;
}

.paragraph-primary {
    color: black;
    font-family: 'Source-R';
    font-size: 1.2rem;
}

.section-padding {
    padding: 5rem 0;
}

.image-curved {
    width: 500px;
    border-radius: 10px; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Navbar */

.navbar-container {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
}

.navbar-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9rem;
}

.navbar-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source-B';
    font-size: 1.2rem;
}

/* Add margin to all children of the navbar-links-container div */
.navbar-links-container > * {
    padding: 0 2rem;
}

.navbar-link {
    color: black;
    text-transform: uppercase;
}

.navbar-link:hover {
    cursor: pointer;
}

.navbar-link-color-animation {
    transition: color 0.25s;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -o-transition: color 0.25s;
    -ms-transition: color 0.25s;
}

.navbar-link-color-animation:hover {
    color: var(--blue);
}

#navbar-logo {
    font-size: 3rem;
    padding: 0 0.5rem;
    font-family: 'Lobster';
    font-weight: 800;
    color: black;
    background: linear-gradient(
        to right,
        var(--blue),
        var(--blue) 50%,
        black 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.35s ease;
}

#navbar-logo:hover {
    background-position: 0 100%;
    cursor: pointer;
}

.navbar-icon-and-name-container {
    display: flex;
    align-items: center;
    /* gap: 0.3rem; */
}

.robert-sunglasses-icon {
    height: 3rem;
    border-radius: 50%;
}

/* Home */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background: linear-gradient(
            to right,
            rgba(0, 119, 181, 0.8),
            rgba(0, 119, 181, 0.8)
        ),
        url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
    background-image: linear-gradient(
            to right,
            rgba(0, 119, 181, 0.8),
            rgba(0, 119, 181, 0.8)
        ),
        url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
    background-position-x: center;
    background-position-y: center;
    background-size: initial, initial;
    background-attachment: initial, initial;
    background-origin: initial, initial;
    background-clip: initial, initial;
    background-color: initial;
}

.home-text-container {
    text-align: center;
}

.home-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.home-icons-container > * {
    color: white;
    margin: 0 2rem;
}

.home-icons {
    transform: scale(2.5);
}

.home-icons:hover {
    cursor: pointer;
}

/* About */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.about-content-container {
    display: flex;
    max-width: 75%;
}

.about-content-container > * {
    padding: 0 2rem;
    width: 50%;
    flex: 1;
}

.about-skills-container {
    display: flex;
    flex: 1;
    max-width: 75%;
}

.about-skills-container > * {
    padding: 0 2rem;
    width: 50%;
}

.about-image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-image-container > * {
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.about-emphasis-text {
    font-family: 'Source-B';
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4.5rem;
    margin-bottom: auto;
}

.skill {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    font-family: 'Source-R';
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    color: #666;
}

/* Projects */
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    background-color: var(--white-dark);
}

.projects-header-margin-bottom {
    margin-bottom: 4rem;
}

.projects-content-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}

.project-content {
    display: flex;
    justify-content: center;
}

.project-content > * {
    margin: 0 1rem;
    width: 50%;
}

.project-description-width {
    width: 65%;
}

.project-image {
    width: 400px;
}

.project-image-container {
    display: flex;
    justify-content: flex-end;
}

.project-btn-container > * {
    margin-right: 1rem;
}

.project-btn {
    border: none;
    border-radius: 5px;
    font-family: 'Source-R';
    color: #ffffff;
    font-size: 1rem;
    background: rgba(0, 119, 181, 0.8);
    padding: 0.75rem 1.25rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.project-btn:hover {
  background: rgba(0, 119, 181, 0.7);
  cursor: pointer;
}

/* Contact */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    background: linear-gradient(
            to right,
            rgba(0, 119, 181, 0.8),
            rgba(0, 119, 181, 0.8)
        ),
        url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
    background-image: linear-gradient(
            to right,
            rgba(0, 119, 181, 0.8),
            rgba(0, 119, 181, 0.8)
        ),
        url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
    background-position-x: center;
    background-position-y: center;
    background-size: initial, initial;
    background-attachment: initial, initial;
    background-origin: initial, initial;
    background-clip: initial, initial;
    background-color: initial;
}

.conact-heading {
    color: white;
    font-family: 'Source-B';
    font-size: 3.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid white;
}

.contact-content-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 2rem 3rem;
    margin: 20px 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
    width: 30rem;
    background-color: white;
}

.contact-input-field {
    color: #333;
    padding: 1rem;
    width: 93%;
    font-size: 1.1rem;
    font-family: 'Source-R';
    background: #f0f0f0;
    border-radius: 5px;
    border: none;
    margin-bottom: 2rem;
}

.contact-textarea-field {
    color: #333;
    padding: 1rem;
    width: 93%;
    height: 5rem;
    font-size: 1.1rem;
    font-family: 'Source-R';
    background: #f0f0f0;
    border-radius: 5px;
    border: none;
    margin-bottom: 2rem;
}

.contact-btn-container {
    display: flex;
    align-self: flex-end;
}

.contact-input-header {
    font-size: 1.35rem;
    font-family: 'Source-B';
}

/* Footer */
.footer-container {
    background-color: #333;
    min-height: 20vh;
    overflow-y: hidden;
}

.footer-content-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid white;
}

.footer-header {
    color: white;
    font-family: 'Source-B';
    font-size: 2.5rem;
    margin-bottom: 0;
}

.footer-text {
    color: white;
    font-family: 'Source-R';
    font-size: 1.25rem;
    margin: 0.5rem 0rem;
}

.footer-copyright-text {
    text-align: center;
    color: white;
    font-family: 'Source-R';
    font-size: 1rem;
}

.footer-icons-container {
    display: flex;
    padding-top: 4.5rem;
}

.footer-icons-container > * {
    color: white;
    margin: 0 1.5rem;
}

.footer-icons {
    transform: scale(2);
}

.footer-icons:hover {
    cursor: pointer;
}

.footer-link {
    color: white;
    font-family: 'Source-R';
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.footer-link > * {
    padding: 0 1rem;
}


.footer-link:hover {
    cursor: pointer;
}

.footer-link-color-animation {
    transition: color 0.25s;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -o-transition: color 0.25s;
    -ms-transition: color 0.25s;
}

.footer-link-color-animation:hover {
    color: black;
}

/* Media Query */

/* 1000px and down */
@media only screen and (max-width: 1500px) {
    .about-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-skills-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .column-reverse-mobile {
        flex-direction: column-reverse;
    }
    .about-content-container > * {
        width: 100%;
    }
    .about-skills-container > * {
        width: 100%;
    }
}

/* 1000px and down */
@media only screen and (max-width: 1000px) {
    .navbar-content-container {
        padding: 0 1rem;
    }
    .heading-primary {
        font-size: 3rem;
        padding: 0 0.25rem;
    }
    .text-primary {
        font-size: 1.5rem;
        padding: 0 0.25rem;
    }
    .home-icons {
        transform: scale(2);
    }
    .home-icons-container > * {
        margin: 0 1.5rem;
    }
    .about-image-container > * {
        height: 250px;
    }
    .project-content {
        flex-direction: column;
        align-items: center;
    }
    .project-content > * {
        width: 70%;
    }
    .heading-project {
        font-size: 2rem;
        text-align: center;
        margin-top: 1rem;
    }
    .project-description-width {
        text-align: center;
        margin: auto;
        width: 100%;
        font-size: 1rem;
    }
    .project-btn-container {
        display: flex;
        justify-content: center;
    }
    .project-btn-container > * {
        margin: 1rem 0.5rem
    }
    .image-curved {
        width: 400px;
    }
    .project-btn {
        font-size: 0.8rem;
    }
    .project-image-container {
        justify-content: center;
    }
    .projects-header-margin-bottom {
        text-align: center;
        padding: 0 1rem;
    }
    .contact-content-container {
        width: 20rem;
    }
}

/* 500px and down */
@media only screen and (max-width: 500px) {
    .photo-card-container {
        display: block;
    }
    .photo-card {
        width: 90vw;
    }
    .heading-primary {
        font-size: 2.5rem;
        padding: 0 0.25rem;
    }
    .text-primary {
        font-size: 1.25rem;
        padding: 0 0.25rem;
    }
    .home-icons {
        transform: scale(1.75);
    }
    .home-icons-container > * {
        margin: 0 1.25rem;
    }
    .about-image-container > * {
        height: 150px;
    }
    .image-curved {
        width: 100%;
    }
    .project-content > * {
        width: 80%;
    }
    .contact-content-container {
        width: 60%;
    }
}


